.priceInfo {
  display: flex;
  gap: 0.5rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.errorMessage {
  margin-top: -2rem;
}

.endDate input {
  width: 100%;
  padding: 1rem 2rem;
  background: var(--background-color-2);
  border: 1px solid var(--border-3);
  border-radius: 1.5rem;
}

.loaderButton:disabled {
  width: 15rem;
  height: 5rem;
  cursor: not-allowed;
  background: var(--background-color-4);
  border: 1px solid var(--border-3);
  border-radius: 1.5rem;
}
